* {
    background: rgb(244,247,154);
    background: radial-gradient(circle, rgba(244,247,154,1) 0%, rgba(249,129,230,1) 100%);  
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: white;
  
}